In [1]:
#Importação da biblioteca Pandas como 'pd' para utilização otimizada no código;
import pandas as pd

In [12]:
#Leitura do arquivo CSV da atividade, criando uma DataFrame utilizando 'DELIMITER' para sinalizar para o programa qual 
#caracter de separação deve ser considerado;
df = pd.read_csv('customers_rating_ecore.csv' , delimiter = ';')

#Criação DataFrame agrupado por Customer Id, e contagem de itens por Cust_Id;
df = df.groupby(['Cust_Id']).count()

#Criação de DataFrame apenas com duas colunas: Index (Cust_Id) e Movie_Id (contagem);
df = df[['Movie_Id']]

#
df = (df.sort_values('Movie_Id' , ascending = False)).head()

#Alteração do título da coluna de contagens de 'Movie_Id' para 'Nº of Reviews' visando 
#o melhor entendimento da informação;
df = df.rename(columns={'Movie_Id': 'Nº of Reviews'})

#Exposição dos dados solicitados pelo cliente;
print ('Abaixo a tabela que mostra os Ids dos 5 principais avaliadores da lista (Cust_Id),')
print ('e a quantidade de avaliações realizadas por cada avaliador (Nº of Reviews):')
df

Abaixo a tabela que mostra os Ids dos 5 principais avaliadores da lista (Cust_Id),
e a quantidade de avaliações realizadas por cada avaliador (Nº of Reviews)

         Nº of Reviews
Cust_Id
305344            4467
387418            4422
2439493           4195
1664010           4019
2118461           3769